{% set grid_size = theme_var('grid-size') %}
{% set images = page.media.images %}

<section class="section modular-gallery {{ page.header.class}}">
  <section class="container {{ grid_size }}">
    {{ content|raw }}
    <div class="gallery-container">
      {% if page.header.gallery_style == 'carousel' %}
        <div class="carousel">
          {% for image in images %}
            <div class="carousel-item">
              <img src="{{ image.url }}" alt="{{ image.meta.alt }}">
            </div>
          {% endfor %}
        </div>
      {% elseif page.header.gallery_style == 'bento' %}
        {% include 'partials/bento-gallery.html.twig' %}
      {% endif %}
    </div>
  </section>
</section>